
.main{
    background-color:rgb(83, 240, 234);
    padding: 20px;
}


  h1 {
    text-align: center;
    padding:30px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    
    box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  }
  
  textarea {
    width: 50%; /* Adjust the width as needed */
    height: 60vh; /* Adjust the height as needed */
    resize: none;
    border: 1px solid #ddd; /* Thin border */
    padding: 10px;
    outline: none;
    resize: none;
    /* border-radius: 0px; */
  }
  
  input {
    width: 50%; /* Adjust the width as needed */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd; /* Thin border */
  }
  
  label {
    margin-bottom: 5px;
  }
  .div_button{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    /* background-color: #45a049; */
  }
  
  .rounded-button {
    width: 10%;
    padding: 6px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    /* position: relative; */
    /* top: -100px; */
    /* right: -580px; */
  }
  
  .rounded-button:hover {
    background-color: #45a049;
  }

  
  .upload-container {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position:absolute;
    bottom: 100px;
    left: 90px;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
  }
  .url_input
  {
    width: 20%;
    outline: none;
    border-radius: 30px;
    margin: 10px;
  }
  
  .upload {
    margin: 10px;
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    /* position: relative;
    top: -39px;
    left: -400px;
    opacity: 0.7; */
  }
  
  .file-upload input {
    display: none;
  }
  