.center {
    margin: auto;
    width: 80%;
    position: relative;
    background-color: #2EC8B6;
    min-height: 600px;
}

.home-img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.bef-para {
    font-size: 40px;
    color: rgba(251, 251, 251, 0.99);
    margin-bottom: 20px;
    margin-left: 200px;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'CursiveFont', cursive; 
    font-style: italic;
    font-weight: bold;
}
.home-para {
    font-size: 50px;
    color: rgba(251, 251, 251, 0.99);
    margin-bottom: 20px;
    margin-left: 200px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.aft-para {
    font-size: 35px;
    color: rgba(251, 251, 251, 0.99);
    margin-bottom: 20px;
    margin-left: 200px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}


 
.grid-container {
    display: flex;
    align-items: center;


  }

  .circle {
    width: 500px;
    height: 500px;
    background: red;
    border-radius: 50%;
    overflow: hidden;
}


 .custom-shape-divider-bottom-1704800928 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704800928 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 175px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1704800928 .shape-fill {
    fill: #FFFFFF;
    
}


.container1 {
  width: 70%;
  margin: 0 auto;
  /* padding: 20px; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: -120px;
  display: flex;
  background: transparent;
  align-content: center;
    height:500px;
    /* justify-content: space-between; Adjust as needed */
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 3px solid red; */
  }
  

.card1{
    width: 400px;
    height:500px;
    /* border: 5px solid red; */
    border-radius: 5px;
    padding:10px; 
    background:white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);

    transition: 0.3s;
    margin: 16px;
    text-align: center;
  }
  
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card1-logo {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    margin-bottom: 8px;
    text-align: center;
    align-items: center;
    align-self: center;
  }
  
  .card1-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card1-text {
    font-size: 14px;
    margin-bottom: 16px;
    text-align:center;
  }
  
  .card1-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .card1-button:hover {
    background-color: #3e8e41;
    cursor: pointer;
  } 
.teams-main{
  position: relative;
  top: -50px;
  width:100%;
  height: 500px;
  background-color: #F5F4F0;
}
  .teams{
    width:80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    background-color: #F5F4F0;
    gap: 10rem;
  }
 
  .con1 {
    max-width: 600px; /* Set a maximum width for the container */
    margin: auto; /* Center the container */
    padding: 20px; /* Add some padding to the container */
    background-color: #f2f2f2; /* Set a background color */
  }
  
  .con1 h3 {
    color: #F54E12; 
    font-size: 35px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'CursiveFont', cursive; 
    font-style: italic;
    font-weight: bold;
  }
  
  .con1 h4 {
    color: #0D405F; 
    font-size: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  
  .con1 p {
    color: #777; /* Set the color of the paragraph text */
    font-size: 16px; /* Set the font size of the paragraph text */
    line-height: 1.5; /* Set the line height for better readability */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
  }
  
  .con2{
    width: 50%;
    /* border: 2px solid red; */
    height: 500px;
  }
  .con2 img{
    /* align-self: center; */
    margin-top: 40px;
    height: 400px;
    width: 650px;
  }
  .mission{
    /* margin-top: -100px; */
    position: relative;
    top: -50px;
    width:80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    /* background-color: #F5F4F0; */
    gap: 10rem;
  }
 
  .con3{
    max-width: 600px; 
    margin: auto; 
    padding: 20px; 
    /* background-color: #f2f2f2;  */
  }
  .con3 h5 {
    color: #F54E12; 
    font-size: 35px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'CursiveFont', cursive; 
    font-style: italic;
    font-weight: bold;
  }
  
  .con3 h6 {
    color: #0D405F; 
    font-size: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  
  
  .con4{
    margin: auto;
    width: 50%;
    /* border: 2px solid red; */
    height: 500px;
  }
  .con4 p {
    /* margin-top: 50px; */
    color: #777; 
    font-size: 20px; 
    line-height: 1.5; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    /* margin-top: 80px; */
    height: 400px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top:160px;
    width: 650px;
  }
  .faq{
    position: relative;
    top: -60px;
  }